# Xilinx ISE Ignore Rules
_xmsgs/
xst/
iseconfig/
_ngo/
*.lso
*.ngc
*.ngd
*.ncd
*.pcf
*.post_map.twr
*.post_map.twx
*.rwx
*.srp
*.twr
*.twx
*.unroutes
*.xpi
*.bld
*.map
*.mrp
*.par
*.pad
*.ptwx
*.bit
*.drc
*.bgn
*.xml
*.log
*.html
*.xrpt
*.cmd_log
*.prj
*.stx
*.syr
*.xst
*.lso
*.gise
*.ise
*.restore
*.tcl

# Temp files
*~
*.swp

# Keep only source code
!*.v
!*.vhd
!*.ucf
!*.md
!*.sh
