# Clock
NET "clk" LOC = "B8"; 

# Reset Button
NET "btn_rst" LOC = "G12";

# Pause Button (btn1)
NET "btn_pause" LOC = "C11";


# 74HC595 Pins (Same Pmod connector JA)
NET "sclk" LOC = "B2";  # JA1
NET "rclk" LOC = "A3";  # JA2
NET "dio"  LOC = "J3";  # JA3

# Buzzer (JB1 Header)
NET "buzzer" LOC = "B5"; # Check your board pinout for JB1

